.users {
  display: flex;
  align-items: center;
  border-bottom: 0.3px solid #727374;
  flex-wrap: wrap;
}

.profile-avatar {
    padding: 1rem;
    width: 60px;
    display: inline-block;
    border-radius: 50%; 
}

.user-profile {
   margin: 0%;
}
 .user-profile h5 {
   margin: 0;
 }


