.t-sidebar{
    position: relative;
    border-right: solid 1px #cacaca;
    left: 120%;
}

.t-icon-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.t-sidebar .t-icon, .t-sidebar > .t-logo {
    width: 15%;
    padding: 0.8em;
    cursor: pointer;
    transition: .2s all;
    border-radius: 50%;
}

.position {
    display: flex;
    flex-direction: column;
    padding: 1em 0em;
    justify-content: space-between;
    position: fixed;
}

